/* CSS Document */
body{
	font-family: '微软雅黑';
	background-position: center;
	background-attachment: fixed;
	background-size: 100% auto;
	background-image: url(../images/bg1.jpeg);
}
.page{
	width:1200px;
	padding:20px;
	height:auto;
	background:#fff;
	background-color:rgba(255,255,255,0.95);
	-moz-border-radius:10px;
	border-radius:5px;
	height:auto;
	margin-top:50px;
	margin-right:auto;
	margin-bottom:10px;
	margin-left:auto
}
*{margin:0 auto;list-style:none;}
@charset "utf-8";
.clear { clear:both;}
body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd { margin: 0px; padding: 0px;}
ul { list-style: none; }
img { border-style: none; }
.top {
	height: 100px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	background-position: 0;
    
}

.nav {
	height: 40px;
}
.banner {

}
.foot {
	height: 100px;
	font-size: 16px;
	line-height: 30px;
	color: #FFF;
	background-color: #363;
	text-align: center;
	padding-top: 20px;
}
.nav li {
	float: left;
}
.nav a {
	text-align: center;
	display: block;
	height: 40px;
	width: 140px;
	line-height: 40px;
	color: #FFF;
	font-size: 16px;
	text-decoration: none;
	text-transform: capitalize;
}
.nav a:hover {
	color: #006699;
	background-color: #999999;
	display: block;
}
 .zuo{float:left;width:20%}
.you{
	float:right;
	width:80%;
	padding-top: 40px;
}
.img1{
	height: auto;
	width: 100%
}
.imgsy3{
	height: auto;
	width: 100%
}
.top .topmain .you .nav ul {
	float: right;
}
/*首页按扭1*/
.btnsy1 {
	display: inline-block;
	border-radius: 50%;
	border: 4px solid #336633;
	height: 6px;
	width: 6px;
	line-height: 40px;
	position: relative;
	top: -4px;
}
/*大图自动调整大小*/
.banner img {
	height: auto;
	width: 96%;
}

.cc-title-tips {
	display: inline-block;
	margin: 0 20px;
	text-align: center;
	margin: 0 auto;
	font-size: 32px;
	color: #444;
	letter-spacing: 4px;
	text-transform: capitalize;
	font-family: "Times New Roman", Times, serif;
}
.sy1 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.bk {
	padding: 15px;
	background-color: #363;
	margin: 10px;
	font-size: 16px;
	line-height: 40px;
	text-align: justify;
	color: #FFF;
	overflow: hidden;
	height: 500px;
}
.col4 {
	float: left;
	width: 25%;
}
.sy2 {
	padding-top: 40px;
}
.topmain {
	width: 1200px;
}
.col2 {
	float: left;
	width: 50%;
	background-color: #CCC;
}
.bk2 {
	background-color: #FFF;
	margin: 10px;
	padding: 10px;
	text-transform: capitalize;
	text-align: justify;
}
.sy3tu {
	float: left;
	width: 40%;
}
.sy3wz {
	float: right;
	width: 60%;
}
.sy3 {
	padding-top: 40px;
}
.page .banner {
	text-align: center;
	background-color: #003;
	margin: 20px;
	padding: 50px;
	color: #FFF;
	background-image: url(../images/bg.jpeg);
}
.wz1 {
	font-size: 14px;
	line-height: 40px;
	text-align: justify;
}
.banner h1 {
	text-align: left;
}
.kg {
	margin: 10px;
	padding: 10px;
}
.col2 {
	float: left;
	width: 50%;
}
.kg p img {
	height: auto;
	width: 50%;
}
.kg p {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 30px;
	text-align: justify;
}
.lr {
	border-bottom-width: thin;
	border-bottom-style: double;
	border-bottom-color: #333;
}
.foot img {
	height: auto;
	width: 200px;
}
.foot p img {
	float: left;
}
.t1 {
	text-align: center;
}
.t1 img {
	height: auto;
	width: 50%;
}
